@{
    ViewBag.Title = "Contact the director";
}
<h2>@ViewBag.Title.</h2>
<br/><br/>
<address>
    <strong> Address:</strong> Ukraine, Kharkiv, KNURE<br /><br />
    <strong>Phone:</strong> +380994852393
</address>

<address>
    <strong>Support and Marketing:</strong>   <a href="mailto:andrii.yehozha@nure.com">andrii.yehozha@nure.com</a><br />
</address>